<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#">Home</a></li>
      <li><a href="#">Editar</a></li>
      <li><a href="#">Consultar</a></li>
    </ul>
  </div>
</nav>

<br>
<div class="container" style="border-color: black;">
  <div class="row">
    <div class="col s5">
      <div class="card">
        <div class="card-content">
          <form #gastoForm="ngForm">
            <div class="row">
              <div class="input-field col s12">
                <input type="text" name="tipo" #name="ngModel" [(ngModel)]="gastoService.selectedGasto.tipo"
                  placeholder="Ingrese el tipo de gasto">
              </div>
              <div class="input-field col s12">
                <input type="text" name="ruc" #name="ngModel" [(ngModel)]="gastoService.selectedGasto.ruc"
                  placeholder="Ingrese el ruc de empresa">
              </div>
              <div class="input-field col s12">
                <input type="text" name="empresa" #name="ngModel" [(ngModel)]="gastoService.selectedGasto.empresa"
                  placeholder="Ingrese el nombre de empresa">
              </div>
              <div class="input-field col s12">
                <input type="text" name="monto" #name="ngModel" [(ngModel)]="gastoService.selectedGasto.monto"
                  placeholder="Ingrese el monto del gasto">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<br>
<app-gastos></app-gastos>